@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --max-width: 1100px;
        --white: #fff;
        --black: #000;
        --light-gray: #bbbdbf;
        --medium-gray: #282829;
        --dark-gray: #16151b;
        --blue: #1c2938;
        --green: #d0f6ae;
        --dark-background: #111920;
        --light-background: #aaa;
        --header: 60px;
        --cell: 54px;
        --button: 26px;
        --margin-sm: 25px;
        --margin: 50px;
        --section-padding: 25px;
        --container: 1300px;
        --half-container: 650px;
        --screen: 100vh;
    }

    .dark {
        --background: #111920;
        --foreground: 0 0% 95%;
        --card: 24 9.8% 10%;
        --card-foreground: 0 0% 95%;
        --popover: 0 0% 9%;
        --popover-foreground: 0 0% 95%;
        --primary: 142.1 70.6% 45.3%;
        --primary-foreground: 144.9 80.4% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 15%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 12 6.5% 15.1%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 85.7% 97.3%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 142.4 71.8% 29.2%;
    }
}

@layer base {
    * {
        @apply border-border;
        font-size: 62.5%;
    }
    body {
        @apply bg-background text-foreground;
    }
}
